.index-page {
  box-shadow: 0px 0px 2px black;
}
.index-page h1 {
  outline: 1px solid red;
}
.index-page h2 {
  box-shadow: 0px 0px 1px red;
}
.index-page h3 {
  outline: 1px solid red;
}
.description > * {
  outline: 1px solid green;
}
.description > * > * {
  outline: 1px solid red;
}
.preview-card {
  outline: 1px solid yellow;
}
.index-footer {
  outline: 1px solid black;
}
