.feature {
  display: inline-block;
  margin: 0 5px 40px;
  width: 270px;
  vertical-align: top;
  font-size: var(--font-size-primary);
}
.feature__link {
  text-decoration: none;
  &:hover span {
    color: var(--link-hover);
    border-bottom-color: var(--link-hover);
  }
  &:hover  .feature__screenshot {
      outline: 2px solid var(--link-hover);
  }
}
.feature__title {
  margin: 10px 0 5px;
  font-size: 1.1em;
  text-align: left;
  color: #000;
}
.feature__title-content {
  border-bottom: 1px solid var(--black-light-border);
}
.feature__stack-list {
  margin: 0;
}
.feature__screenshot {
  display: block;
  width: 100%;
  height: auto;
  &--white {
    outline: 1px solid var(--black-light-border);
  }
}
